* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Adicionado para corrigir o box model */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: orange;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    margin-top: 2%;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    line-height: 1.5;
}

.section {
    margin-bottom: 20px;
}

li {
    list-style: none;
}

input[type="date"],
input[type="time"],
input[type="number"] {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    /* Adicionado espaço entre os inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Adicionado para corrigir o box model */
}

.contagem,
.contagem input[type="number"] {
    display: flex;
    align-items: center;
}

.contagemdiv,
p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.distancia {
    margin-left: 10px;
}

button {
    background-color: orange;
    color: black;
    font-size: 1.3em;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    align-self: center;
}

button:hover {
    background-color: #ff8c00;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}